@tailwind base;
@tailwind components;
@tailwind utilities;

/* color pallete */
:root {
    --primaryColor: #e2c8aa;
    --secondaryColor: #ebdfd3;
    --accentColor: #fbf8f1;
    --darkColor: #4f4f4f;
    --lightColor: #f7f7f7;
}

@layer base {
    html {
        font-family: 'Forum', system-ui, serif;
        color: var(--darkColor);
        font-size: 16px;
        scroll-behavior: smooth;
    }
}

p,
a,
q,
button {
    color: var(--darkColor);
    font-family: theme('fontFamily.Forum');
    font-weight: 200;
    letter-spacing: 1px;
    margin: 10px 0px;
    font-size: theme('fontSize.base');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: theme('fontFamily.Cormorant');
    color: var(--darkColor);
    line-height: 100%;
    margin: 15px 0px;
}

h1 {
    font-size: theme('fontSize.6xl')
}

h2 {
    font-size: theme('fontSize.5xl');
    line-height: 110%;
}

h3 {
    font-size: theme('fontSize.4xl');
}

h4 {
    font-size: theme('fontSize.3xl');
}


nav a {
    font-size: theme('fontSize.lg');
}

img {
    max-width: 100%;
}


@layer components {
    .btn {
        font-size: theme('fontSize.base');
    }
}


@media (min-width: 950px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 110%;
    }

}